#notesOverviewApplication {

  .notes-application-content {

    .custom-notes-editor {

      pre {
        background: @primaryBackgroundDefault;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.15);

        code {
          white-space: pre-wrap !important;
          display: block;
          padding: 0.5em !important;

          * {
            font-family: Monaco, Menlo, Consolas, monospace;
            font-size: 14px !important;
            font-weight: normal;
          }
        }
      }

      blockquote {
        font-weight: 400 !important;
        padding: 10px !important;
        border-left-color: @primaryColor !important;
        margin: 0 0 10px 0 !important;

        p {
          margin-bottom: 0 !important;
          line-height: 1.4 !important;
          font-size: 16px !important;
          font-style: normal !important;
        }

        strong {
          font-weight: bold;
        }
      }

      a {
        color: #0782C1;
      }

      ol, ul, dl {
        margin: 0 0 10px 0 !important;
        padding: 0 40px !important;
      }

      ol {
        list-style-type: decimal;

        & ol {
          list-style-type: lower-latin;

          & ol {
            list-style-type: lower-roman;

            & ol {
              list-style-type: upper-latin;

              & ol {
                list-style-type: upper-roman;
              }
            }
          }
        }
      }

      .video {
        position: relative;
        clear: both;
        width: 80%;
        height: 0;
        padding-bottom: 33.74%;
        margin: 15px auto;

        iframe {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      ul li, ol li {
        list-style: revert;
        font-size: 16px;
        line-height: 1.4;
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        line-height: 1.2;
      }

      h1, h2, h3 {
        font-weight: 500 !important;
        line-height: 1.2 !important;
      }

      h1:first-child, h2:first-child, h3:first-child {
        margin-top: 0;
      }

      h1 {
        font-size: 28px !important;
        margin-top: 45px !important;
      }

      h2 {
        font-size: 23px !important;
        margin-top: 35px !important;
      }

      h3 {
        font-size: 18px !important;
        margin-top: 25px !important;
      }

      p, li {
        line-height: 1.4 !important;
      }

      p, li, blockquote {
        font-size: 16px !important;
      }

      table {
        border-collapse: collapse;
      }

      table[border="0"] tr, table[border="0"] tr td {
        border-width: 0 !important;
      }

      table tr, table tr td {
        border-width: 1px;
        border-style: solid;
      }

      table[align="center"] {
        margin-left: auto;
        margin-right: auto;
      }

      table[align="left"] {
        margin-right: auto;
      }

      table[align="right"] {
        margin-left: auto;
      }

      table {
        margin-top: 0 !important;
        margin-bottom: 10px !important;

        td, th {
          line-height: 1.4 !important;
          font-size: 16px !important;
          padding: 5px;

          p:last-child {
            margin-bottom: 0 !important;
          }
        }
      }

      .content-link {
        a {
          font-size: 16px !important;
        }
      }

      img {
        margin: 10px !important;
      }

    }
  }
}
